<app-admin-navbar></app-admin-navbar>
<mat-toolbar class="custom-toolbar">
  <a mat-button routerLink="/add-machine" class="nav-link">Add Machine</a>
  <a mat-button routerLink="/another-page" class="nav-link">Another Page</a>
</mat-toolbar>

<div class="container">
  <!-- Flex container for the title and button -->
  <div class="header-row">
    <h2>Machines List</h2>
    <button (click)="openModal()" class="add-machine-btn">Add Machine</button>
  </div>

  <!-- List of machines -->
  <div class="machines-list">
    <div class="card" *ngFor="let machine of machines">
      <!-- Default gym machine image -->
      <img src="https://media.istockphoto.com/id/854012462/photo/barbell-ready-for-workout-indoors-selective-focus.jpg?s=612x612&w=0&k=20&c=lSHMTs2Rm9XPJqGVxlMjs9pr-RMWwB7lbf8E-RIARhM=" alt="Gym Machine" class="machine-image" />

      <!-- Card content -->
      <div class="card-content">
        <p class="card-title">{{ machine.name }}</p>
        <p class="card-description">{{ machine.description }}</p>
      </div>
    </div>
  </div>
</div>

