<div>
  <button (click)="openModal()">Add Machine</button>

  <h2>Machines List</h2>
  <div class="machines-list" *ngFor="let machine of machines">
    <div class="card">
      <div class="card-content">
        <p class="card-title">{{machine.name}}</p>
        <p class="card-description">{{machine.description}}</p>
      </div>
      <div class="card-buttons">
        <button class="edit-btn" (click)="editMachine()">Edit</button>
        <button class="delete-btn" (click)="deleteMachine()">Delete</button>
      </div>
    </div>

  </div>
</div>
