.btn-danger {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-outline-danger {
    border-color: #ff0000;
    color: #ff0000;
}

.btn-outline-danger:hover {
    background-color: #ff0000;
    color: #fff;
}

.btn-danger:hover {
    background-color: #ffffff;
    color: #ff0000;
    border-color: #ff0000;
}
