<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/Logo.svg" alt="Fit Monitor Logo" width="70" height="70" class="me-2">FIT Monitor
        </a>

        <!-- Botão de menu (hamburger) para mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Elementos da Navbar: Search bar e links -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Links de navegação à direita -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin-dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us">About Us</a>
                </li>
                
                <!-- Show "Add Machines" only if Admin role is present -->
                <li class="nav-item">
                    <a class="nav-link" href="machines">Add Machines</a>
                </li>
                

                <li class="nav-item">
                    <a class="nav-link" href="usermanagement">Change Roles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="qr-code-entrance">QR Code Scan</a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn && showToggleButton()">
                    <button class="btn btn-primary" (click)="toggleView()">
                        {{ 'Switch to User View'}}
                    </button>
                </li>

                <!-- Show "Log In / Sign Up" if no roles are present -->
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="handleAuthAction()">
                        {{ isLoggedIn ? 'Log Out' : 'Log In / Sign Up' }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


