.payment-failure-container {
  height: 100%;
  margin-top: -10vh;
}

.payment-failure-card {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.payment-failure-card h1 {
  font-weight: bold;
}

.payment-failure-card p {
  font-size: 1.2rem;
}

.payment-failure-card .btn-danger {
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.payment-failure-card .btn-danger:hover {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
}